
@using MVCPractice.Dtos.Activities
@using MVCPractice.Models.Account
@using Microsoft.AspNetCore.Identity
@model ActivityInfoDto
@inject UserManager<ApplicationUser> UserManager

<p class="form-control-static">活動編號:@Model.ActivityId</p>
<p class="form-control-static">活動名稱:@Model.Name</p>
<p class="form-control-static">類別:@Model.CategoryName</p>
<p class="form-control-static">已報名人數:@Model.ParticipatedPersonsNumber</p>
<p class="form-control-static">總需求人數:@Model.PersonsNumber</p>
<p class="form-control-static">簡介:@Model.Introduce</p>


<p class="form-control-static">詳細內容:</p>
<div class="ck-content">
    @Html.Raw(@Model.Content)
</div>


<p class="form-control-static">報名結束時間:@Model.RegistrationEndDateTime</p>
<p class="form-control-static">活動開始時間:@Model.StartDateTime</p>
<p class="form-control-static">活動結束時間:@Model.EndDateTime</p>

<p class="form-control-static">活動圖片:</p>
@foreach (var item in Model.ActivityImages)
{
    <img src="@item.Url" alt="CoverImageUrl" class="activity-image-img" width="200">
}

<p class="form-control-static">活動檔案:</p>
@foreach (var item in Model.ActivityFiles)
{
    <div class="form-group">
        <a href="@item.Url" download class="activity-image-download">
            @item.Name
        </a>
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    @if (Model.Participated)
    {
        <form method="post" asp-controller="Activity" asp-action="CancelParticipatedActivityById">
            <input type="hidden" name="ActivityId" value="@Model.ActivityId" />
            <input type="hidden" name="UserName" value="@UserManager.GetUserName(User)" />
            <input type="hidden" name="PersonsNumber" value="@Model.PersonsNumber" />
            <button type="submit" class="btn btn-secondary">取消報名</button>
        </form>
    }
    else
    {
        <form method="post" asp-controller="Activity" asp-action="ParticipatedActivityById">
            <input type="hidden" name="ActivityId" value="@Model.ActivityId" />
            <input type="hidden" name="UserName" value="@UserManager.GetUserName(User)" />
            <input type="hidden" name="PersonsNumber" value="1" />
            <button type="submit" class="btn btn-secondary">報名</button>
        </form>
    }
}