@using MVCPractice.ViewModels.Sysadm
@model MembersViewModel

<h2>會員清單</h2>

<form asp-action="Members" method="get" class="form-inline">
    <div class="form-group">
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchTerm" name="searchTerm" class="form-control" value="@Model.SearchTerm" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model != null )
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Name</td>
                    <td>
                        <form method="get" asp-controller="Sysadm" asp-action="EditProfile" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-secondary">編輯資料</button>
                        </form>
                        <form method="post" asp-controller="Sysadm" asp-action="ResetPassword" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger">重置密碼</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}